@{
    ViewData["Title"] = "Home Page";
}


<main>
    <!----------Slider---------->
    <div class="container-fluid p-0">
        <div class="wrapper">
            <div class="site-slider">
                <div class="slider-one">
                    <div class="banner">
                        <img src="~/user/assets/Banner/banner-1.jpg" class="img-fluid" alt="Banner 1">
                    </div>
                    <div class="banner">
                        <img src="~/user/assets/Banner/banner-2.webp" class="img-fluid" alt="Banner 2">
                    </div>
                    <div class="banner">
                        <img src="~/user/assets/Banner/banner-3.webp" class="img-fluid" alt="Banner 3">
                    </div>
                </div>
                <div class="slider-btn">
                    <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                    <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="banner-mini">
                <img src="~/user/assets/MiniBanner/banner-mini1.png" class="img-fluid" alt="Banner 1">
                <img src="~/user/assets/MiniBanner/banner-mini2.png" class="img-fluid" alt="Banner 1">
                <img src="~/user/assets/MiniBanner/banner-mini3.png" class="img-fluid" alt="Banner 1">
                <img src="~/user/assets/MiniBanner/banner-mini4.png" class="img-fluid" alt="Banner 1">
            </div>
        </div>
    </div>
    <!-----x-----Slider-----x----->
    <!----------Products---------->
    <section class="products">
        <div class="section-title">
            <h2>Các sản phẩm</h2>
        </div>
        <div class="products-center">
            <!-- single product -->

            <article class="product">
                <div class="img-container">
                    <img src="~/user/assets/products/product-1.jpg" alt="product" class="product-img">
                    <button class="bag-btn" data-id=>
                        <i class="fas fa-shopping-cart"></i>
                        thêm giỏ hàng
                    </button>
                </div>
                <a href="#"><h3>Tivi</h3></a>
                <h6>15000000 VNĐ</h6>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="~/user/assets/products/product-1.jpg" alt="product" class="product-img">
                    <button class="bag-btn" data-id=>
                        <i class="fas fa-shopping-cart"></i>
                        thêm giỏ hàng
                    </button>
                </div>
                <a href="#"><h3>Tivi</h3></a>
                <h6>15000000 VNĐ</h6>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="~/user/assets/products/product-1.jpg" alt="product" class="product-img">
                    <button class="bag-btn" data-id=>
                        <i class="fas fa-shopping-cart"></i>
                        thêm giỏ hàng
                    </button>
                </div>
                <a href="#"><h3>Tivi</h3></a>
                <h6>15000000 VNĐ</h6>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="~/user/assets/products/product-1.jpg" alt="product" class="product-img">
                    <button class="bag-btn" data-id=>
                        <i class="fas fa-shopping-cart"></i>
                        thêm giỏ hàng
                    </button>
                </div>
                <a href="./detail.html"><h3>Tivi</h3></a>
                <h6>15000000 VNĐ</h6>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="~/user/assets/products/product-1.jpg" alt="product" class="product-img">
                    <button class="bag-btn" data-id=>
                        <i class="fas fa-shopping-cart"></i>
                        thêm giỏ hàng
                    </button>
                </div>
                <a href="#"><h3>Tivi</h3></a>
                <h6>15000000 VNĐ</h6>
            </article>
            <!--x single product x-->
        </div>
    </section>
    <!-----x-----Products-----x----->
</main>