@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                
                    <span>Cập nhập sản phẩm</span>
               
                    <span>Thêm sản phẩm</span>
                

            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!--Thêm value để Edit-->
            <form id="actionForm">
                <input type="hidden" name="ID" value="" />
                <div class="form-group">
                    <label>Accomodation Package</label>
                    <select class="form-control" name="AccomodationPackageID">

                    </select>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="Name" placeholder="Enter Accomodation Name" value="">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="Description" placeholder="Enter Accomodation Description"></textarea>
                </div>

            </form>
            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>


<script>
    //Create
    $('#actionButton').click(function () {
        $.ajax({
            url: '@Url.Action("Action","Product")',
            type: 'post',
            data: $('#actionForm').serialize()
        }).done(function (response) {
            if (response.Success) {
                //data is saved .... reload listing
                location.reload();
            }
            else {
                $('.errorDiv').html(response.Massage);
            }
        });
    });

</script>

