@using Microsoft.AspNetCore.Identity;
@using ShopMartWebsite.Entities;
@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- custom style-->

    <link href="~/user/css/style.css" rel="stylesheet" />

    <script src="~/content/vendor/jquery/jquery.min.js"></script>

    <!--fontawesome-->
    <link rel="stylesheet" href="~/user/css/all.css" type="text/css" />
    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="~/user/css/bootstrap.css">
    <!-- Owl-Carousel -->
    <link rel="stylesheet" href="~/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/user/css/owl.theme.default.min.css">
    <!--AOS Library-->
    <link rel="stylesheet" href="~/user/css/aos.css">

    <!--Slick Slider-->
    <link rel="stylesheet" type="text/css" href="~/user/css/slick.css" />


    <title>Online Shop</title>
</head>
<body>
    <!----------headder---------->
    
        <div class="header-parent">
            <div class="row">
                <div class="">
                    <div>
                        <img class="img-logo" src="~/user/assets/logo/logo.jpg" alt="logo">
                    </div>
                </div>
                <div class="online-shop text-center">
                    <h2 class="site-title text-white"><a style="color: white;" asp-controller="Home" asp-action="Index">Online Shop</a></h2>
                </div>
                <div class="" style="text-align: end;">
                    @if(signInManager.IsSignedIn(User))
                    {
                    <p class="header-links">
                        <a class="px-2">@User.Identity.Name</a>
                        <a class="px-1" asp-controller="Home" asp-action="Logout" >Đăng xuất</a>
                    </p>
                    }
                    else
                    {
                    <p class="header-links">
                        <a href="@Url.Action("Login","Account")" id="button-login" class="px-2">Đăng nhập</a>
                    </p>
                    }
                </div>
                <div class="bar-btn" style="display: none;">
                    <div class="toggle-icons">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </div>
        

    
    <!-----x-----headder-----x----->
    <!----------Main Section---------->
    @RenderBody()

    <!-----x-----Main Section-----x----->
    <!--modal-->
    
    <!--x--modal--x-->
    <footer class="footer">
        <div class="container">
            <div class="about-us">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore accusantium maiores tempore culpa provident rerum fuga quis molestias atque neque.</p>
            </div>
            <div class="newsletter">
                <h2>Newsletter</h2>
                <p>Stay update with our latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="~/user/assets/instagram/thumb-card3.png" alt="insta1">
                    <img src="~/user/assets/instagram/thumb-card4.png" alt="insta2">
                    <img src="~/user/assets/instagram/thumb-card5.png" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="~/user/assets/instagram/thumb-card6.png" alt="insta1">
                    <img src="~/user/assets/instagram/thumb-card7.png" alt="insta2">
                    <img src="~/user/assets/instagram/thumb-card8.png" alt="insta3">
                </div>
            </div>
            <div class="follow">
                <h2>Follow us</h2>
                <p>Lets us be Social</p>
                <div>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray text-center">
                Copyright 2019 All rights reserved | made by Shop Online
            </h4>
        </div>

    </footer>


    <!-- Jquery Library file-->
    <script src="~/user/js/jquery3.4.1.min.js"></script>
    <!-- Owl-Carousel js -->
    <script src="~/user/js/owl.carousel.min.js"></script>
    <!-- custom javascript-->
    <script src="~/user/js/main.js"></script>

    <!--AOS Library-->
    <script src="~/user/js/aos.js"></script>
    <!--Bootstrap CDN-->
    <script src="~/user/js/bootstrap.js"></script>

    <!--Stick Slider-->
    <script type="text/javascript" src="~/user/js/slick.min.js"></script>
    <script>
        
        
    </script>

</body>
</html>